@model Garaget.Models.ParkedVehicle

@{
    ViewBag.Title = "CheckOutVehicle";
}

<h2>Vehicle checked out</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VehicleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoWheels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeOfCheckIn)
        </th>
        <th>The Cost</th>
        <th></th>
    </tr>


   
    <tr>
        <td>
            @Html.DisplayFor(model => model.VehicleType)
        </td>
        <td>
            @Html.DisplayFor(model => model.RegNo)
        </td>                         
        <td>                          
            @Html.DisplayFor(model => model.Color)
        </td>                         
        <td>                          
            @Html.DisplayFor(model => model.Make)
        </td>                         
        <td>                          
            @Html.DisplayFor(model => model.Model)
        </td>                         
        <td>                          
            @Html.DisplayFor(model => model.NoWheels)
        </td>                         
        <td>                          
            @Html.DisplayFor(model => model.TimeOfCheckIn)
        </td>


        <td>
            @{
                var cost = 60; //cost per hour
                var dateNow = DateTime.Now;
                var totalTime = (dateNow - Model.TimeOfCheckIn).ToString(@"hh\:mm");
                var totalCost = ( (dateNow - Model.TimeOfCheckIn).TotalHours ) * cost;
                @Html.DisplayFor(modelItem => totalTime)
            }
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>

       
    </tr>

  
</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="PRINT" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")

        
    </div>
}


