@model IEnumerable<Garaget.Models.ParkedVehicle>

@{
    ViewBag.Title = "The Garage";
}

<h2>The Garage</h2>

<p>
    @Html.ActionLink("Check in a vehicle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VehicleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>Parking time so far</th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @{ 
                var dateNow = DateTime.Now;
                var totalTime = dateNow - item.TimeOfCheckIn;
                @Html.DisplayFor(modelItem => totalTime)
            }
           
        </td>
      
        <td>
          
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Check out Vehicle", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
